.navbar {
  display: flex;
  justify-content: space-between;
  height: 3svh;
  font-size: 2.5rem;
  z-index: 99;
  margin-bottom: 2rem;
  vertical-align: middle;
  align-items: center;
  margin-top: 1.5rem;
}

.options {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  list-style: none;
  gap: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.option, .activeOption {
  padding: 0.6rem;
  color: white;
  text-decoration: none;
  /* font-size: 30px; */
  font-family: 'Segoe UI';
  font-weight: 1000;
}

.user {
  margin-right: 0.3rem;
  padding: 1rem;
  color: white;
  text-decoration: none;
  /* font-size: 30px; */
  font-family: 'Segoe UI';
  font-weight: 1000;
  vertical-align: bottom;
  text-align: end;
  align-items: center;
}

.dropMenu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 0;
  margin-right: 2rem;
  background-color: var(--dark-gray-blank);
  border-radius: 10px;
  list-style: none;
  font-size: 1.5rem;
  text-align: center;
  width: 13rem;
  z-index: 99;
}

.dropMenu em {
  font-size: 2rem;
}

.user:hover .dropMenu {
  opacity: 1;
  visibility: visible;
}

.activeOption {
  color: var(--light-blue);
}

.dropMenu .button {
  background-color: var(--dark-gray-blank);
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  width: 100%;
  text-align: start;
  padding-left: 0.7rem;
  border-radius: 1rem;
}

.dropMenu .button:hover {
  background: var(--dark-gray-blank-hover);
}

.dropMenu .table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 0.7rem;
}

.dropMenu .table tr {
  border-top: 0.1rem solid;
}

.dropMenu .table td {
  vertical-align: center;
}

.dialog {
  background-color: rgba(0, 0, 0, 0.404);
  backdrop-filter: blur(100px);
  border: solid 0.1rem var(--blue);
  box-shadow: 0rem 0rem 1rem 0rem var(--blue);
  color: white;
  font-size: 1.5rem;
  padding: 2rem;
  border-radius: 0.5rem;
  padding-top: 0.5rem;
  max-width: 70%;
}

.dialog input {
  background-color: var(--input-background);
  width: 35%;
  font-size: 1.5rem;
  color: white;
  border: solid 0.1rem var(--purple);
}

.dialog button {
  margin: 0.2rem;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

.dialog .buttons {
  text-align: end;
}