@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.body {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 30svh;
}

.loadingIcon {
  padding-top: 1.2rem;
  font-size: 12rem;
  animation: loading 2s infinite cubic-bezier(0,0,1,1)
}