.body h2 {
  font-size: 3rem;
}

.body {
  text-align: center;
  margin: 5rem 2rem 0rem 2rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem 1.5rem 2rem;
  background-color: var(--dark-gray);
  border-radius: 1rem;
  box-shadow: 0rem 0rem 1.5rem 0.2rem var(--purple);
  font-size: 3rem;
}

.question {
  display: block;
  margin-left: 2em;
  counter-increment: none;
  margin-bottom: 0.1rem;
}

.question::before {
  display: inline-block;
  content: "Q.";
  width: 2em;
  margin-left: -2em;
}

.answers li {
  display: block;
  margin-bottom: .5em;
  margin-left: 2em;
  margin-bottom: 0.1rem;
}

.answers li::before {
  display: inline-block;
  content: counter(item) ". ";
  counter-increment: item;
  width: 2em;
  margin-left: -2em;
}

.container ol {
  counter-reset: item;
  margin-left: 0rem;
  padding-left: 0rem;
}

.container input {
  border-radius: 1rem;
  border-style: none;
  background-color: var(--input-background);
  outline: none;
  color: var(--input-text-active);
  font-size: 2.5rem;
  width: 75%;
  line-height: 4.5rem;
  margin: 1rem;
  vertical-align: middle;
  &::-webkit-input-placeholder {
    color: var(--input-text-inactive);
  }
}

.container button {
  border: none;
  border-radius: 0.5rem;
  width: 75%;
  height: fit-content;
  font-size:3rem;
  margin: 0.3rem;
  padding: 0.5rem;
  color: white;
  background-color: var(--purple);
  &:hover {
    background-color: var(--purple-hover);
  }
}
