.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0rem; 
  font-size: 1rem;
  justify-content: space-between;
  flex-wrap: nowrap
}

.header button {
  border: none;
  border-radius: 8px;
  width: 15rem;
  height: fit-content;
  font-size:1.8rem;
  margin: 3rem;
  padding: 1rem;
  color: white;
  background-color: var(--purple);
  &:hover {
    background-color: var(--purple-hover);
  }
}

.quizzes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.quiz {
  /* background-color: rgba(128, 128, 128, 0.158); */
  background-color: var(--dark-gray);
  border: solid 0.1rem var(--blue);
  box-shadow: 0rem 0rem 1rem 0rem var(--blue);
  margin: 0.8rem;
  border-radius: 0.5rem;
  flex: 1;
  min-width: 30rem;
  text-decoration: none;
  color: white;
  max-width: 50rem;
  position: relative;
  overflow: hidden;
}

.quiz:hover {
  box-shadow: 0rem 0rem 1.2rem 0.3rem var(--blue);
}

.select {
  width: fit-content;
  max-width: 100%;
  padding: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
}

.select ol {
  padding: 1.5rem 1.5rem 1.5rem 4em;
}

.select li {
  break-inside: avoid;
  margin-bottom: 5px;
}

.select li::marker {
  color: rgb(83, 143, 255);
}

.optionButtons {
  position:absolute;
  bottom: 0;
  right: 0;
}

.optionButtons button {
  background: none;
  border: none;
  color: rgb(180, 180, 180);
  border-radius: 5px;
  font-size: 20px;
  &:hover {
    background-color: var(--dark-gray-hover);
  }
}

.content summary {
  font-size: 3rem;
  background-color: #2a5a7a41;
  border-radius: 5px;
  text-align: center;
  &::marker {
    color: var(--purple);
    font-size: 4rem;
  }
}

.dialog {
  background-color: rgba(0, 0, 0, 0.404);
  backdrop-filter: blur(100px);
  border: solid 0.1rem var(--blue);
  box-shadow: 0rem 0rem 1rem 0rem var(--blue);
  color: white;
  font-size: 1.5rem;
  padding: 2rem;
  border-radius: 0.5rem;
  padding-top: 0.5rem;
  max-width: 70%;
}

.dialog button {
  margin: 0.2rem;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

.dialog .buttons {
  text-align: end;
}

.saveIcon {
  font-size: 30px;
  padding: 0px 10px;
}