@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

.refreshButton {
  background: none;
  border: none;
  margin: 0rem;
  padding: 0rem;
}

.refreshIcon {
  color: var(--light-blue);
  font-size: 4rem;
}

.spin {
  animation: spin 1s ease-in-out
}

.sessions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.session {
  background-color: var(--dark-gray);
  border: solid 1px var(--blue);
  box-shadow: 0rem 0rem 0.8rem 0rem var(--blue);
  margin: 0.8rem;
  border-radius: 0.5rem;
  padding: 0.7rem 1.2rem;
  flex: 1;
  min-width: fit-content;
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  max-width: 18rem;
}

.session:hover {
  box-shadow: 0rem 0rem 1.2rem 0.3rem var(--blue);
}

.session div {
  color: white;
  text-decoration: none;
}

@keyframes gradient { 
  0%{background-position:0 0}
  100%{background-position:100% 0}
}

.webflowStyleInput {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: left;
  min-width: 12rem;
  max-width: 25rem;
  height: 2rem;
  border-radius: 0.2rem;
  padding: 0.1rem 0.2rem 0.3rem;
  background-color: var(--input-background);
  &:after {
    content: "";
    position: absolute;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
    z-index: 0;
    height: 0.15rem;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    background-position: 0% 0%;
    background: linear-gradient(to right, #0051ff, #5900ff, #b700ff, #00e1ff, #0051ff, #5900ff);
    background-size: 500% auto;
    animation: gradient 10s linear infinite;
  }
}

.webflowStyleInput input {
  border-style: none;
  background: transparent;
  outline: none;
  /* flex-grow: 1; */
  color: var(--input-text-active);
  font-size: 1.3rem;
  width: 90%;
  vertical-align: middle;
  &::-webkit-input-placeholder {
    color: var(--input-text-inactive);
  }
}

.webflowStyleInput button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  color:  var(--input-text-inactive);
  font-size: 2.3rem;
  line-height: 1rem;
  vertical-align: middle;
  transition: color .25s;
  &:hover {
    color: var(--input-text-active);
  }
}